.wp-showpass-block-container {
	border: 1px solid #000;
	padding: 20px;
	h4 {
		margin-top: 0px !important;
		display: inline-block;
		margin-left: 10px;
	}
	p {
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	.control-container {
		margin-top: 10px;
	}
	.dashicon.validate {
		float: right;
		margin-left: 10px;
		height: 30px;
		width: 30px;
		&.dashicons-no {
			color: red;
		}
		&.dashicons-yes {
			color: green;
		}
	}
}
